@page
@model MowiTajm.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Sök";
}

<div class="page-content-container">
	<h1 class="mb-3 text-center">Välkommen till MowiTajm!</h1>

	<h4 class="mb-5 text-center">Sök efter filmer och serier för att läsa recensioner och betyg.</h4>
    
    @if (!Model.IsUserSignedIn)
    {
        <p class="text-center">
            @* Länk till inloggningssidan. Vi använder asp-area="Identity" om Identity-området används *@
            <a asp-area="Identity" asp-page="/Account/Login">Logga in</a> eller

            @* Länk till registreringssidan. Även här används asp-area="Identity" för att peka rätt *@
            <a asp-area="Identity" asp-page="/Account/Register">registrera dig</a> om du också vill kunna skriva recensioner!
        </p>
    }

    @* Sökfunktionen *@
    <form class="search-input" method="get">
        <input type="text" class="form-control me-2" name="searchInput" placeholder="Sök på en titel.." value="@Model.SearchInput" required maxlength="100"/>
        <button class="btn btn-primary btn-search btn-black" type="submit" title="Sök" aria-label="Sök">⌕</button>
	</form>

    @if (!string.IsNullOrEmpty(Model.SearchInput))
    {
        if (Model.Movies.Count > 0)
        {
            @* Extra sökinfo *@
            <section class="search-result-head">
                <p>Visar @Model.Movies.Count av @Model.TotalResults sökresultat.</p>
            </section>

			@* Skriv ut alla filmer som hittades *@
            <section class="search-result-container">
                @foreach (var movie in Model.Movies)
                {
					@* Redirecta användaren till MovieDetailsPage när de klickar på en film. *@
                    <article class="search-result-movie-row" onclick="window.location='/Movies/MovieDetailsPage?imdbID=@movie.ImdbID'">
						
                        @* Filmposter *@
                        <div class="movie-lite-poster-container">
                            <img class="movie-lite-poster" src="@movie.Poster" alt="Filmposter för @movie.Title"/>
                        </div>

						@* Filminformation *@
                        <div class="search-result-movie-details">
                            <div class="background-blur" style="background-image: url('@movie.Poster')"></div>
                            <div class="details-content">
                                <p class="search-result-title">@movie.Title</p>
                                <p class="search-result-year">@movie.Type (@movie.Year)</p>
                            </div>
                        </div>
                    </article>
                }
            </section>
        }
        else
        {
            <p>Inga filmer hittades för "@Model.SearchInput". Prova igen!</p>
        }
    }
</div>