@page
@model IndexModel
@{
    ViewData["Title"] = "Admin";
    var uniqueMovies = Model.Reviews.Select(r => r.MovieTitle).Distinct().ToList();
	var uniqueUserNames = Model.Reviews.Select(r => r.Username).Distinct().ToList();
	var uniqueRating = Model.Reviews.Select(r => r.Rating).Distinct().ToList();
}

<div class="page-content-container">

    <h1 class="headlines-menu">Admin</h1>

    @* Två knappar för att hantera användare eller recensioner *@
    <form class="admin-main-buttons" method="post">
        <button type="submit" asp-page-handler="LoadUsers" class="btn-design btn-admin-menu @(Model.ShowReviews ? "" : "active")">
            Hantera användare
        </button>
        <button type="submit" asp-page-handler="LoadReviews" class="btn-design btn-admin-menu @(Model.ShowReviews ? "active" : "")">
            Hantera recensioner
        </button>
    </form>

	@if (!Model.ShowReviews) @* Vid klick på "Hantera användare" *@
    {
		@* Visa tabell för användare *@
        <div class="table table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>E-Post</th>
                        <th>Användarnamn</th>
                        <th>Roll</th>
                        <th class="text-center">Hantera</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        var userRole = Model.UserRoles.ContainsKey(user.Id) ? Model.UserRoles[user.Id] : "Ingen roll";

                        <tr>
                            <td class="align-middle">@user.UserName</td>
                            <td class="align-middle">@user.DisplayName</td>
                            <td class="align-middle">@userRole</td>
                            <td>
                                <div class="d-flex justify-content-center gap-1">
                                    <form method="post" asp-page-handler="UpdateRole" asp-route-userId="@user.Id" asp-route-newRole="@(userRole == "Admin" ? "User" : "Admin")">
                                        <button type="submit" class="btn-design btn-table @(userRole == "Admin" ? "btn-purple" : "btn-yellow") btn-admin">
                                            Ändra till @((userRole == "Admin") ? "User" : "Admin")
                                        </button>
                                    </form>
                                    <form method="post" asp-page-handler="DeleteUser" asp-route-userId="@user.Id">
                                        <button type="submit" class="btn-design btn-red btn-admin btn-table" title="Ta bort användaren" aria-label="Ta bort användaren" onclick="return confirm('Är du säker att du vill ta bort denna användare?')">
                                            ⛌
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
	else @* Vid klick på "Hantera recensioner" *@
    {
        <div class="user-admin-filter center-stuff overflow-auto">
            <p class="filter-title">Filter:</p>

			@* Filter för filmtitel *@
            <div class="mb-3">
                <select id="movieFilter" class="form-select">
                    <option value="">Alla filmer</option>
                    @foreach (var movie in uniqueMovies.OrderBy(m => m))
                    {
                        <option value="@movie">@movie</option>
                    }
                </select>
            </div>

			@* Filter för användare *@
            <div class="mb-3">
                <select id="userFilter" class="form-select">
                    <option value="">Alla användare</option>
                    @foreach (var user in uniqueUserNames.OrderBy(u => u))
                    {
                        <option value="@user">@user</option>
                    }
                </select>
            </div>

			@* Filter för betyg *@
		    <div class="mb-3">
			    <select id="ratingFilter" class="form-select">
				    <option value="">Alla betyg</option>
				    @foreach (var rating in uniqueRating.OrderBy(r => r))
				    {
					    <option value="@rating">@rating</option>
				    }
			    </select>
		    </div>

			@* Knapp för att återställa filter *@
            <div class="mb-3">
                <button type="button" class="btn-design btn-red btn-table" id="resetFilters" title="Återställ filtret">⛌</button>
            </div>
        </div>

		@* Visa tabell för recensioner *@
        <div class="table table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Film</th>
                        <th>Rubrik</th>
                        <th>Recension</th>
                        <th>Betyg</th>
                        <th>Användare</th>
                        <th>Datum</th>
                        <th class="text-center">Hantera</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model.Reviews)
                    {
                        <tr class="review-row" data-movie="@review.MovieTitle" data-user="@review.Username" data-rating="@review.Rating">
                            <td class="movie-column">
                                <a href="/Movies/MovieDetailsPage?imdbID=@review.ImdbID">
                                    @review.MovieTitle
                                </a>
                            </td>
                            <td class="title-column">@review.Title</td>
                            <td class="review-column">
                                <button class="btn btn-link btn-white btn-read-more text-decoration-none"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#reviewText-@review.Id"
                                        aria-expanded="false">
                                    Läs mer..
                                </button>
                                <div class="collapse" id="reviewText-@review.Id">
                                    <p>@review.Text</p>
                                </div>
                            </td>
                            <td>@review.Rating / 5</td>
                            <td>@review.Username</td>
                            <td>@review.DateTime.ToShortDateString()</td>
                            <td>
                                <div class="d-flex justify-content-center gap-1">
                                    <form method="post" asp-page-handler="DeleteReview" asp-route-reviewId="@review.Id">
                                        <button type="submit" class="btn-design btn-red btn-table" title="Ta bort recension" aria-label="Ta bort recension" onclick="return confirm('Är du säker att du vill ta bort denna recension?')">
                                            ⛌
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

