@page
@model MowiTajm.Areas.Identity.Pages.User.IndexModel
@{
	ViewData["Title"] = "Mina Recensioner";
}

<div class="page-content-container">

    <h1 class="headlines-menu">Mina Recensioner</h1>

	@* Hämta användarens recensioner *@
    <div class="table table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Rubrik</th>
                    <th>Recension</th>
                    <th>Betyg</th>
                    <th>Användare</th>
                    <th>Datum</th>
                    <th class="text-center">Hantera</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.Reviews)
                {
					<tr>
                        <td>
                            <a href="/Movies/MovieDetailsPage?imdbID=@review.ImdbID">
                                @review.MovieTitle
                            </a>
                        </td>
                        <td class="title-column">@review.Title</td>
                        <td class="review-column">
                            <button class="btn btn-link btn-white btn-read-more text-decoration-none"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#reviewText-@review.Id"
                                    aria-expanded="false">
                                Läs mer..
                            </button>
                            <div class="collapse" id="reviewText-@review.Id">
                                <p>@review.Text</p>
                            </div>
                        </td>
                        <td>@review.Rating / 5</td>
                        <td>@review.Username</td>
                        <td>@review.DateTime.ToShortDateString()</td>
                        <td>
                            <div class="d-flex justify-content-center gap-1">
                                <form method="post" asp-page-handler="EditReview" asp-route-reviewId="@review.Id">
                                    <button type="submit" class="btn-design btn-black btn-table" title="Redigera recensionen" aria-label="Redigera recensionen" onclick="return confirm('Vill du redigera ditt inlägg?')">✎ᝰ.</button>
                                </form>
                                <form method="post" asp-page-handler="DeleteReview" asp-route-reviewId="@review.Id">
                                    <button type="submit" class="btn-design btn-red btn-table" title="Ta bort recension" aria-label="Ta bort recension" onclick="return confirm('Är du säker att du vill ta bort denna recension?')">
                                        ⛌
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
